
.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  margin-left: 65%;
  margin-top:  9px;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

.modal-coupon-list {
  margin: auto;
  display: block;
  margin-top: 7%;
  align-content: center;
  justify-content: center;
  width: 80%;
  height: 75%;
  overflow: auto;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.05);
}
.modal-coupon-random {
  margin: auto;
  display: block;
  margin-top: 7%;
  align-content: center;
  justify-content: center;
  width: 40%;
  height: 65%;
  overflow: auto;
  background-color:rgb(255, 255, 255);
  border-radius: 15px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.05);
}
.scrollbar
{
	height: 100%;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 450px;
}

#style-15::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-15::-webkit-scrollbar
{
	width:10px;

}

#style-15::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#004aaa),
									   to(#02005c),
									   color-stop(.6,#545ffa))
}
@import '~antd/dist/antd.css';